@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: fingerpaint;
    src: url(fonts/FingerPaint-Regular.ttf);
}

@font-face {
    font-family: lilita;
    src: url(../fonts/LilitaOne-Regular.ttf);
}
/* root variables */

/* colors for light theme */
:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677463;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-1: 0.4rem;
    --border-radius-1: 0.4rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

}

*{
    border: 0;
    margin: 0;
    padding: 0;
    appearance: none;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
    
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins,sans-serif;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}



.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    
}

.container .nav{
    display: flex;
    height: 10.2rem;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.container .nav .logo{
    display: flex;
    align-items: center;
    justify-content: center;

}

.container .nav .logo img{
    width: 7rem;
    height: 7rem;  
    /* margin-right: 3rem;   */
    animation: image 3s linear infinite;
}

.container .nav .logo{
    color: rgb(109, 109, 241);
    font-family: cursive;
}

 @keyframes image {
    0%{
        opacity: 100%;
    }
    25%{
        opacity: 50%;
    }
    50%{
        opacity: 0%;
    }
    75%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
} 

/* @keyframes image {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
} */

.container .body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-evenly;

}

.container .body h2{
    margin-bottom: 0.5rem;

}

.container .body form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    width: 21rem;
    transition: all 300ms ease;
    
}

.container .body form:hover{
    box-shadow: none;
}

.container .body form input{
    background: transparent;
    color: var(--color-dark);
    background: var(--color-light);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
    border-radius: var(--border-radius-1);
    width: 10rem;
    align-items: center;
    height: 3.0rem;
    width: 15rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.0rem;
}

.container .body form input[type="submit"]{
    cursor: pointer;
    background: rgb(151, 151, 153);
    color: var(--color-white);
    margin-top: 5rem;
}

.container .company{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.container .company h1{
    color: rgb(109, 109, 241);
    font-size: 1.3rem;
}

.container .company small{
    margin-top: 1rem;
}

#error{
    color: var(--color-danger);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.developer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.4rem;
}

.developer img{
    width: 80px;
    height: 80px;
}

.developer small{
    font-family: lilita;
}

/* body{
    background-color: black;
} */