@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap');
@font-face {
    font-family: poppins;
    src: url(./Poppins-Regular.ttf);
}

@font-face {
    font-family: fingerpaint;
    src: url(./FingerPaint-Regular.ttf);
}
/* root variables */

/* colors for light theme */
:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677463;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-1: 0.4rem;
    --border-radius-1: 0.4rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

}

/* dark mode theme colors */

.dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: #rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}






*{
    border: 0;
    margin: 0;
    padding: 0;
    appearance: none;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins,sans-serif;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 20rem;

}


a{
    color: var(--color-dark);
}

img{
    width: 100%;
    display: block;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

/* .logo-name{
    color: var(--color-dark-variant);
    font-family: fingerpaint;
} */

aside{
    height: 100vh;
}

.top{
    /* background: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .logo{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

aside .top img{
    width: 5rem;
    height: 3rem;
    animation: logo 3s linear infinite;
    /* filter: invert(50%); */
}

@keyframes image {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

.ring{
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    z-index: 1;
    animation: ring 2s linear infinite;
}

.ring:before{
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 1%;
    box-shadow: 0 0 1px rgba(255, 255, 255, .3);
}

@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 2px 2px rgb(109, 109, 241);
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 2px 2px  rgb(109, 109, 241);
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 2px 2px rgb(109, 109, 241);
    }
}


.logo-name{
    color: rgb(109, 109, 241);
}

aside .closebtn{
    display: none;
}
/* sidebar */
aside .sidebar{
    /* background: white; */
    display: flex;
    flex-direction: column;
    height: 88vh;
    position: relative;
    top: 1rem;
    border-radius: var(--card-border-radius);
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.0rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
}

aside .sidebar a:hover{
    color: var(--color-primary);
    margin-left: 1rem;
}

/* aside .sidebar a span:hover{
    
} */
aside .sidebar a:last-child{
    /* position: absolute;
    bottom: -2.5rem; */
    width: 100%;
    color: var(--color-danger);
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: "";
    height:100%;
    width: 6px;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem-3px);
}

aside .sidebar a .message-count{
    background: var(--color-danger);
    color: var(--color-info-light);
    border-radius: var(--border-radius-1);
    padding: 0.3rem;
}


/* main */

main{
    margin-top: 1.4rem;
}

main .search{
    display: flex;
    background: var(--color-light);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
    border-radius: var(--border-radius-1);
    width: 10rem;
    align-items: center;
    justify-content: flex-start;
}

main .search input[type="search"]{
    background: transparent;
    color: var(--color-dark);
    
}

main .search button{
    background: none;
    font-size: 0.5rem;
}

main .datetime{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    width: 18.2rem;
}

main .datetime .time{
    text-align: right;
    color: var(--color-white);
    margin-top: 0.2rem;
    margin-right: 1.1rem;
}

main .datetime .time #hours{
    background-color: var(--color-primary);
    padding: 0.1rem;
    border-radius: var(--border-radius-1);
    width: 1rem;
}

main .datetime .time #minutes{
    background-color: var(--color-primary);
    padding: 0.1rem;
    border-radius: var(--border-radius-1);
    width: 1rem;
}

main .datetime .time #seconds{
    background-color: var(--color-primary);
    padding: 0.1rem;
    border-radius: var(--border-radius-1);
    width: 1rem;
}

main h2{
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.wrapper{
    position: relative;  
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-bottom: 15px;
}
/* .wrapper .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.wrapper .image-container img{
    border-radius: 50%;
    border: 3px solid steelblue;
    width: 200px;
    height: 200px;
}

.wrapper svg{
    width: 30px;
    height: 30px;
    background-color: steelblue;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    bottom: 15%;
    right: 1%;
    cursor: pointer;
}

main .form-format{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .form-format:hover{
    box-shadow: none;
}



main .form-format .form form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form .form-legend{
    margin-bottom: 1rem;
}

main .form form .division{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
form .select-heading{
    color: var(--color-dark);
    margin-top: 0.5rem;
    font-weight: lighter;
    font-size: 1.0rem;
}

form select{
    width: 300px;
    text-align: center;
    font-size: 1.0rem;
    color: var(--color-dark);
    cursor: pointer;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    height: 35px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}



main .form form input{
    background: transparent;
    color: var(--color-dark);
    background: var(--color-light);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
    border-radius: var(--border-radius-1);
    width: 10rem;
    align-items: center;
    height: 35px;
    width: 300px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    
}

main .form form input[type="submit"]{
    background: #12db1c;
    color: var(--color-white);
    cursor: pointer;
}

main .form form .buttons{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 15rem;
}

/* main .form-format .divisions{
    display: flex;
    justify-content: space-around;
    width: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
} */

main .form-format{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}



main .form-format .divide .info-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 25rem;
    margin-bottom: 0.4rem;
    margin-top: 0.2rem;
    
}
#infos{
    font-size: 1.3rem;
}

main .form-format .divide .info-section .info{
    display: flex;
    flex-direction: column;
    align-items: center;

}

main .form-format .divide .info-section .info p{
    font-size: 0.8rem;
}

main .form-format .form-divisions .divide img{
    border-radius: 40%;
    border: 3px solid var(--color-primary);
}



/* body{
    background: black;
} */










.right .top{
    display: flex;
    justify-content: end;
    gap: 1rem;
    align-items: flex-start;
    /* background: green; */
}

.right .top button{
    display: none;
}


.right .toggler{
    background: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    /* padding: 0.2rem;
    padding-top: 0.2rem; */
}

.right .toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--color-dark-variant);
    display: flex;
}

.right .top .toggler span.active{
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
}


.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right .recent-updates{
    margin-top: 1rem;

}

.right .recent-updates h2{
    margin-bottom: 0.8rem;
}
.right .recent-updates .updates{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .update:hover{
    box-shadow: none;
}

.right .recent-updates .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}


.right .notes-section{
    margin-top: 1rem;
}

.right .notes-section h2{
    margin-bottom: 0.8rem;
}

.right .notes-section .notes{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .notes-section .notes:hover{
    box-shadow: none;
}

.right .notes-section .notes .note{
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .notes-section .notes span{
    cursor: pointer;
}

.right .socials-and-website{
    margin-top: 1rem;
}

.right.socials-and-website h2{
    margin-bottom: 0.8rem;
}



.right .socials-and-website .social-icons{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right .socials-and-website .social-icons:hover{
    box-shadow: none;
}

.right .socials-and-website .social-icons svg{
    filter: invert(50%);
    transition: all 300ms ease;
    position: relative;
    align-items: center;
}

.right .socials-and-website .social-icons svg:hover{
    margin-bottom: 0.5rem;
}

/* media queries to define look of the page on different devices
in other words, i am taking care of responsivesness */


/* for tablet and smaller laptops */

@media screen and (max-width: 1200px)
{
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem
    }
    .ring{
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        z-index: 1;
        animation: ring 2s linear infinite;
    }

    .ring:before{
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0%;
        box-shadow: 0 0 1px rgba(255, 255, 255, .3);
    }
    aside .logo h2{
        display: none;
    }
    aside .sidebar h3{
        display: none;
    }
    aside .sidebar a{
        width: 5.6rem;
    }
    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }
    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }
    main .recent{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }
    main .recent table{
        width: 83vw;
    }
    /* main .recent table thead tr th:last-child, main .recent table thead tr td:first-child{
        display: none;
    }
    main .recent table tbody tr th:last-child, main .recent table tbody tr td:first-child{
        display: none;
    } */
}
/*end of tablet view*/

/* for tablet and smaller laptops */


@media screen and (max-width: 768px)
{
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;

    }
    @keyframes showMenu {
        to{
            left: 0;;
        }
    }

    

    aside .logo{
        margin-left: 4.5rem;
    }
    .ring{
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        z-index: 1;
        animation: ring 2s linear infinite;
    }

    .ring:before{
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0%;
        box-shadow: 0 0 1px rgba(255, 255, 255, .3);
    }

    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: inline;
    }
    aside .sidebar a{
        width: 100%;
        height: 2.9rem;
    }
    /* aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    } */
    aside .closebtn{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 2rem;
        margin-left: 1rem;
    }
    main .recent{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
    main .recents table{
        width: 100%;
        margin: 0;
        height: 60rem;
    }
    /* main .recent table thead tr th:last-child, main .recent table thead tr td:first-child{
        display: none;
    }
    main .recent table tbody tr th:last-child, main .recent table tbody tr td:first-child{
        display: none;
    } */

    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background-color: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }
    .right .top .toggler{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info{
        display: none;
    }

    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span{
        font-size: 2rem;
    }

    .right h2{
        margin-left: 2rem;
    }

    
}

#error-msg{
    color: #f73545;
    text-align: center;
}

#success-msg{
    color: #3cf735;
    text-align: center;
}



.calculator{
    background: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.calculator:hover{
    box-shadow: none;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 2rem;
    height: 2rem; 
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.calculator form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.calculator form .display input{
    text-align: right;
    flex: 1;
    font-size: 20px;
    background: var(--color-light);
}

#equal{
    width: 70px;
    background: var(--color-success);
}

.operator{
    background: var(--color-primary);
    color: var(--color-white);
}


#edit-new-applicant{
    width: 10rem;
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
    color: white;
    background: var(--color-success);
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

#delete-new-applicant{
    width: 10rem;
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
    color: white;
    background: var(--color-danger);
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

#move-new-applicant{
    width: 10rem;
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
    color: white;
    background: var(--color-warning);
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

#add-new-applicant{
    width: 10rem;
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
    color: white;
    background: var(--color-primary);
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.divide img{
    width: 250px;
    height: 250px;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.divide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divide p{
    margin-bottom: 0.5rem;
}



/* body{
    background-color: black;
} */